@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Technicality ASP.NET Training Lesson #1</h1>
    <p>This will cover introductory Entity Framework migrations, custom routing for multiple tenants, and Kendo MVC UI</p>
</div>

